*{
	margin: 0px;
	padding: 0px;
}

body, html {
	padding: 0px;
	margin: 0px;
	font-family: "Gotham";
	font-size: 12pt;
	color: white;
	height: 100%;
	width: 100%;
}

body {
	background-color: #005a25;
}

a{
	color: turquoise;
}

h1 {
	padding-top: 15px;
	text-align: center;
}

h2 {
	text-align: center;
}

ul {
	text-align: center;
	/*display: inline-block;*/
}

li {
	border-color: white;
	padding-top: 30px;
	/*padding-left: 7.5px;*/
	padding-right: 85px;
	display: inline-block;
	width: 5%;
	height: 10%;
}

li p{
	width: 100%;
}

#header-text {
	text-align: center;
}

#about {
	text-align: center;
}

#reset {
	padding-left: 50%;
}

#credits {
	text-align: center;
	padding-top: 35px;
}

#simulation {
	padding-top: 30px;
	text-align: center;
}

#bio {
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 35px;
}

#box-score {
	padding-top: 30px;
	text-align: center;
}

#back {
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 35px;
}

#victor {
	height: 25%;
	width: 12.5%;
	padding-left: 35%;
	padding-right: 12.5%;
}

#starting-quarterbacks {
	text-align: center;
}

#team1qb1, #team1qb2, #team1qb3, #team2qb1, #team2qb2, #team2qb3 {
	display: inline-block;
}

input:hover{
	background: forestgreen;
	color: white;
}

img
{
	height: 100%;
	width: 100%;
	display: block;
  margin-left: 10%;
  margin-right: 10%;
}

select, option
{
	font-family: "Gotham";
	font-weight: bold;
	font-size: 16px;
	background-color: forestgreen;
	color: white;
}

#music {
	text-align: right;
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,164,2,1) 50%, rgba(0,0,0,1) 100%);
}
